/* GLOBALS */
p {
	line-height: 1.5;
}

/* LOGO */
.logo-container {

}

.logo {
	display: block;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	height: 20vh;
	width: auto;
}

.container {

}

/* BLOG */
.blog-entry {
	margin: 1em 0;
}

.blog-image {
	max-width: 100%;
	margin: 0.5em 0;
}

.blog-body {
	margin: 1em 0.5em;
}

/* NAVIGATION BAR */
.navbar {
	height: 0.25em;
	text-align: center;
	list-style: none;
	cursor: default;
}

.navbar li {
	display: inline;
	margin: 0 1.5em;
	position: static;
	-webkit-user-select: none;    
	-moz-user-select: none; 
	-ms-user-select: none; 
}

.navbar a {
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 0;
}

.navbar a, .navbar a:hover, .navbar a:visited {
	color: inherit;
}